@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
    color: aliceblue;
}

body{
    background-color: #FE9FF3;
}

section, footer{
    padding: 54px 0;
    background-color: blueviolet;
}

h3{
    font-size: 50px;
}

p{
    color: aliceblue;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 5%;
}
.btn{
    background-color: #222F3F;
    color: aliceblue;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}
.btn.animate-btn{
    animation: animate-outline 1s ease-out infinite;
}

.btn:hover{
    background-color: #8A2BE2;
    color: #f337e3;
    
}

@keyframes animate-outline {
    from{
        outline: 0px solid #8A2BE2;
    }
    to{
        outline: 15px solid #ecc3e8;
    }
}

header{
    background-image: url(itens/background_nav.png);
    background-position: center;
    background-size: cover;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

nav ul{
     display: flex;
     align-items: center;
    
}

nav ul a{
     color: aliceblue;
     margin: 0 25px;
     text-transform: uppercase;
     font-size: 16px;
     display: block;
}

nav ul a:hover{
    color: #8A2BE2;
}

nav ul a:not(.btn):after{
    content: "";
    background-color: #8A2BE2;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

nav ul a:hover::after{
    width: 100%;
}

/*menu mobile*/
nav .menu-icon{
    cursor: pointer;
    font-size: 25px;
    display: none;
    color: #fff;
}
nav .close-icon{
    display: none;
    font-size: 25px;
    color: #fff;
}

.hero{
    display: flex;
    justify-content: left;
    background-size: cover;
    background-position:center;   
}

.hero .hero-text{
    margin: 150px;
    text-align:start;
    padding: 0 90px;
}
.hero .hero-text h1{

    font-size: 34px;
    color: aliceblue;
    padding: 10px;
}

.hero .hero-text p{
    font-size: 16px;
    color: aliceblue;
    padding: 10px;
    padding-bottom: 20px;
}

.blog .container{
    display: flex;
    align-items: center;
}
.blog .blog_text{
    width: 50%;
    padding: 0 40px;
}
.blog .blog_text h3{
    font-size: 34px;
    padding-bottom: 10px;
}
.blog .blog_text h4{
    font-size: 16px;
}
.blog .blog_text p{
    margin: 5px 0 10px 0;
}
.blog .blog_img{
    width: 50%;
}
.blog .blog_img img{
    width: 100%;
}
.eventos h3{
    text-align: center;
    font-size: 34px;
}
.eventos p{
    margin-bottom: 20px;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.eventos .card-item{
    background-color: #8A2BE2;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
}
.eventos .card-item img{
    border-radius: 100%;
    width: 80px;
    display: block;
    margin: 30px auto;
}

.eventos .card-item p{
    font-size: 16px;
    padding-bottom: 20px;
    
}

.eventos .card-item .evento-nome{
    font-weight: 600;
    font-size: 21px;
    margin-bottom: 15px;
    transition: 0.3s;
}

.eventos .card-item .evento-resumo{
    font-size: 15px;
    padding: 0 15px;
    color: #fff;
    transition: 0.3s;
}
.eventos .card-item:hover{
    background-color: #f337e3;
    margin-top: -5px;
}
.eventos .card-item:hover .evento-nome{
    color: #8A2BE2;
}

.contato-info{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.contato-info .left-side{
    width: 50%;
    padding: 30px;
    background-color: #f337e3;
    border-radius: 14px;
    margin-right: 50px;
    height: fit-content;
}
.contato-info .left-side div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.contato-info .left-side div i{
    font-size: 21px;
    margin-right: 20px;
    color: aliceblue;
}
.contato-info .left-side p{
    font-size: 16px;
    color: aliceblue;
}
.contato-info .right-side{
    width: 50%;
}
.contato-info .right-side input{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    height: 47px;
    padding: 15px;
    border-radius: 9px;
    transition: 0.3s;
    border: 1px solid aliceblue;
    color: aliceblue;
}

.contato-info .right-side input:focus,
.contato-info .right-side textarea:focus{
    background-color: #f337e3 ;
}

.contato-info .right-side textarea{
    border: 1px solid aliceblue;
    color:aliceblue ;
    border-radius: 9px;
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
    transition: 0.3s;
    resize: none;
}
.footer {
    background-color: #8A2BE2;
    text-align: center;
}

.footer i{
    color: aliceblue;
    font-size: 34px;
    padding: 20px;
}


@media (max-width: 830px){
    /*menu mobile*/
    .ul{
        position: fixed;
        top: 0;
        left: 0;
        background-color: #8A2BE2;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        clip-path: circle(0 at 100% 0);
        transition: 0.7s;
    }
    ul.open{
        clip-path: circle(141.2% at 100% 0);
    }
    .ul a{
        margin: 10px 0;
        font-size: 16px;
    }
    nav .menu-icon{
        display: block;
    }
    nav .close-icon{
        display: block;
        position: absolute;
        top: 46px;
        right: 28px;
    }
    /*pag responsiva*/

    .hero .hero-text{
        padding: 0;
        margin: 80px;
    }

    .hero .hero-text h1{
        font-size: 42px;
    }
    
    .hero .hero-text p{
        font-size: 21px;
    }

   .blog .blog_text{
        margin-top: 10px;
        padding: 0 20px;
        order: 1;        
   }

   .blog .container{
        flex-direction: column-reverse;
   }

   .blog .blog_text h3{
        font-size: 48px;
   }

   .blog .blog_text,
   .blog .blog_img{
        width: 100%;
   }

   .eventos .cards{
        width: 100%;
        justify-content: center;
   }

   .contato-info{
    flex-direction: column-reverse;
   }

   .contato-info .left-side,
   .contato-info .right-side{
    width: 100%;
   }

   .contato-info .right-side{
    margin-bottom: 30px;
   }
}
@media (max-width: 500px){
    .hero .hero-text h1{
        font-size: 21px;
    }
    .hero .hero-text p{
        font-size: 13px;
    }

    .blog .blog_text h3{
        font-size: 34px;
    }
}


